.container{
    width: 100%;
}

.content{
    background-color: #0f0f0f;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentForm{
    max-width: 1024px;
    width: 100%;
    padding: 0 18px;
    padding-bottom: 28px;
    margin-top: 58px;
}

.title{
    color:#fff;
    margin-bottom: 8px;
    
}

.checkboxArea label{
    color: #fff;
    margin-left: 8px;
}

.checkboxArea{
    margin: 14px 0;
}

.checkbox{
    width:18px;
    height: 18px;
}

.button{
    width: 100%;
    border:0;
    border-radius: 4px;
    background-color: #3183ff;
    color:#fff;
    padding: 12px 0;
    cursor: pointer;
    font-size: 18px;
}

.glicoseContainer{
    margin: 34px auto 0 auto;
    padding: 0 18px;
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
}

.glicoseContainer a{
    text-decoration: none;
    color: #0f0f0f;

}

.glicoseContainer h1{
    text-align: center;
    font-size: 32px;
    margin-bottom: 14px;
}

.glicose{
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    align-items:flex-start; /* center para glicose*/
    border:1.5px solid #909090;
    border-radius: 4px;
    padding: 14px;
}

.tagContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.tag{
    background-color: #3183ff;
    padding: 2px 6px;
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
}

.shareButton{
    background: transparent;
    border: 0;
    margin: 0 8px;
    cursor: pointer;
}

.glicoseContent{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.glicoseContent p{
  font-size: 100%;
  
}

.data{
    margin-left: 80px;
    margin-right: 10px;
}

.time{
    margin-right: 10px;
}

.highGlicose{
    color: #ea3140;
    font-weight: bold;
} 

.normalGlicose{
    font-weight: bold;
}

.trashButton{
    cursor: pointer;
    background: transparent;
    border: 0;
    margin: 0 8px;
}